@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    background: black;
    color: white;
  }
}

.hits {
  font-size: 5.75em;
  font-weight: bolder;
  text-transform: uppercase;
}
